table.table {
	font-size: 12px;
	width: 50%;
	border: 1px solid #000;
	margin: auto;

}
table.table th {
	text-align: left;
	padding: 5px;
}
table.table .header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.table .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.table .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}