table.table {
	font-size: 12px;

	width: 1024px;
	border: 1px solid #000;
}
table.table th {
	text-align: left;
	padding: 5px;
}
table.table .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.table .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.table .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}